body {
  background-color: beige !important;
}
.box {
  background-color: rgba(180, 180, 171, 0.872);
  width: 55%;
  padding: 10px 0;
  border: 1px solid black;
  border-radius: 5px;
}

input {
  border: 0;
  outline: none;
}
